---
import { type Song } from "../lib/data"
import { SongPlayer } from "./SongPlayer"
import { SongPlayButton } from "./SongPlayButton"

interface Props {
  songs: Song[]
}

const { songs } = Astro.props
---

<div style={{scrollbarWidth: "none"}} class="h-[250px] md:h-[500px] overflow-y-auto table-fixed relative w-[70vw]">
    <table class="text-left divide-y divide-gray-500/20 absolute w-full">
        <thead class="sticky top-0">
          <tr class="text-zinc-700 text-sm">
            <th class="hidden md:block px-4 py-2 font-bold">#</th>
            <th class="px-4 py-2 font-bold">Título</th>
            <th class="px-4 py-2 font-bold">Álbum</th>
            <th class="px-4 py-2 font-bold">Time</th>
            <th class="px-4 py-2 font-bold text-center">Add to queue</th>
          </tr>
        </thead>
      
        <tbody>
          {
            songs.map((song, index) => (
            <tr class="group border-spacing-0 text-gray-300 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300 border-b-2 border-zinc-400">
            <td class="hidden md:table-cell px-4 py-2 rounded-tl-lg rounded-bl-lg w-5">
                <SongPlayer client:load song={song}/>
            </td>
            <td class="px-4 py-2 flex gap-3 flex-col lg:flex-row">
                <picture class="">
                    <img src={song.image} alt={song.title} class="w-8 h-8 lg:w-11 lg:h-11" />
                </picture>
                <div class="flex flex-col">
                    <h3 class="text-white text-base font-normal">{song.title}</h3>
                    <span class="hidden lg:flex">{song.artists.join(", ")}</span>
                </div>
            </td>
            <td class="px-4 py-2">{song.album}</td>
            <td class="px-4 py-2 rounded-tr-lg rounded-br-lg">{song.duration}</td>
            <td class="px-4 py-2 w-52 text-center"><SongPlayButton client:load song={song}/></td>
        </tr>
            ))
          }
        </tbody>
      </table>
</div>