---
import type { Playlist } from "../lib/data";

interface Props {
    playlist: Playlist
}
const { playlist } = Astro.props
const { id, cover, title, artists, color } = playlist

const artistString = artists.join(', ')
---
<a class="playlist-item transition-all duration-500 shadow-lg flex relative p-2 overflow-hidden gap-5 px-3 rounded-md hover:scale-105 hover:shadow-2xl w-40 flex-col" 
href={`/playlist/${id}`} transition:name=`playlist ${id} box`>
    <picture class="aspect-square w-full h-auto">
        <img class="w-full h-auto rounded-md" 
        src={cover} 
        alt={`Cover of ${title} by ${artistString}`}
        transition:name=`playlist ${id} image`>
    </picture>
    <div class="flex flex-col flex-auto truncate">
        <h4 class="font-bold h-6 w-auto text-sm" transition:name=`playlist ${id} title`>{title} </h4>
        <span class="h-6 w-auto text-xs text-gray-300" transition:name=`playlist ${id} artists`>{artistString}</span>
    </div> 
</a>