---
import type { Playlist } from "../lib/data";

interface Props {
    playlist: Playlist
}
const { playlist } = Astro.props
const { id, cover, title, artists, color } = playlist

const artistString = artists.join(', ')
---
<a class="playlist-item flex relative p-2 overflow-hidden items-center justify-center gap-5 rounded-md hover:bg-zinc-800" 
href={`/playlist/${id}`}>
    <picture class="h-12 w-12 flex-none">
        <img class="object-cover w-full h-full rounded-md" src={cover} alt={`Cpver of ${title} by ${artistString}`} loading="lazy">
    </picture>
    <div class="flex-col flex-auto truncate hidden lg:flex">
        <h4 class="font-bold h-6 w-auto text-sm">{title}</h4>
        <span class="h-6 w-auto text-xs text-gray-500">{artistString}</span>
    </div> 
</a>